<ion-header>
  <ion-toolbar>
    <ion-title>difficulties</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card-header>
    <ion-card-title>Choose your level</ion-card-title>
  </ion-card-header>

<!--  <ion-grid>
    <ion-row>
      <ion-col>
        Easy
      </ion-col>
      <ion-col>
        blablabla
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Easy
      </ion-col>
      <ion-col>
        blablabla
      </ion-col>
    </ion-row>


  </ion-grid>-->



  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm>
        Easy
      </ion-col>
      <ion-col col-12 col-sm>
        Medium
      </ion-col>
      <ion-col col-12 col-sm>
        Hard
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm>
        1 of 4
      </ion-col>
      <ion-col col-12 col-sm>
        2 of 4
      </ion-col>
      <ion-col col-12 col-sm>
        3 of 4
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm>
        <button ion-button>Default</button>
      </ion-col>
      <ion-col col-12 col-sm>
        <button ion-button>Default</button>
      </ion-col>
      <ion-col col-12 col-sm>
        <button ion-button>Default</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
