<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Trivia
    </ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="homeDisplay" id="welcome-card">
    <h2> Welcome </h2>
    <ion-button (click)="showDifficulties()">Let's Play</ion-button>
  </div>

  <app-difficulties *ngIf="difficultyDisplay" (difficultyEvent)="setDifficulty($event)"></app-difficulties>

  <app-ready *ngIf="readyDisplay" [difficulty]="difficulty" [username]="username" (startEvent)="startQuestions()"></app-ready>

  <app-questions *ngIf="questionsDisplay" [difficulty]="difficulty" [username]="username"></app-questions>
</ion-content>